extends layout.pug

block content
    .filter
      -
        var filter = [
          {name:'入住-退房'},
          {name:'房客'},
          {name:'房源类型'},
          {name:'价格'},
          {name:'闪订'},
          {name:'路程类型'},
          {name:'位置区域'},
          {name:'更多筛选条件'}
        ]
      ul
        each item in filter
          li
            button #{item.name}
    .main
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
      .source
        img(src='/images/pic.jpg')
        .name 两房一厅
