doctype html
html
  head
    title=title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/main.js')
  body
    header
      nav
        -
          var header = [
            {name:"发布房源",link:'/',onclick:'show()'},
            {name:"注册",link:'/',onclick:'show()'},
            {name:"登录",link:'/',onclick:'show()'}
          ]

        each item in header
          button(onclick=item.onclick) #{item.name}
      .RegLog#RegLogmodel
        span.close(onclick='hide()') ×
        form.model-content
          .register
            label(for="email")
              b Email
            input(type='text' placeholder='Enter Email' name='email' required)
            label
              b Password
            input(type='password' placeholder='Enter Password' name='psw' required)
            label
              b Repeat Password
            input(type='password' placeholder='Repeat Password' name='psw-repeat' required)
            .clearfix
              button.cancelbtn Cancel
              button.signupbtn Sign Up
    .container
      block content
      