doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        -
          var header_nav = [
            {id:'发布房源',link:'/'},
            {id:'注册',link:'/'},
            {id:'登陆',link:'/'}
          ]
        ul
          each item in header_nav
            li
              a(href=item.link) #{item.id}
    block content
