doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/myJs.js')
  body
    header
      //- 这里是导航栏
      -
        var header = [
          {name:"发布房源",link:'/',onclick:'show()'},
          {name:"注册",link:'/',onclick:'show()'},
          {name:"登陆",link:'/',onclick:'show()'}
        ]
      each item in header
        button(onclick=item.onclick) #{item.name}
      .model#id01
        span.close(onclick='hide()') ×
        form.model-content
          .register
            label
              b Email
            input(type='text' placeholder='Enter Email' name='email' required)
            label
              b Password
            input(type='password' placeholder='Enter Password' name='psw' required)
            label
              b Repeat Password
            input(type='password' placeholder='Repeat Password' name='psw-repeat' required)
            .clearfix
              button.cancelbtn Cancel
              button.signupbtn Sign Up
    block content
      .content
        .content_inner
          span(class='title') Housebnb
          form.search(action='/home' method='get')
            input(type='search' placeholder='目的地、地址、城市')
            button(type='submit') 搜索