extends layout

block content
  .pub-container
    form(action="/publish" method="post" enctype="multipart/form-data") 
      .pub_title
        h1 您好，请开始发布您的房源
      .pub-content
        h2 房屋信息
        .house-info
          table
            tr 
              td 
                span 房源名称:
              td
                input(type="text" name="houseName" required)
            tr
              td 
                span 卧室:
              td 
                span
                  select(name="bedroom")
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                span 间
              td
                span 床:
              td
                span 
                  select(name="bed") 
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                span 张
            tr
              td 
                span 卫生间:
              td 
                span
                  select(name="restroom")
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                span 间
              td
                span 可住人数:
              td
                span 
                  select(name="liveIn") 
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                span 人
            tr
              td
                span 地址:
              td
                span
                  select(name="province")
                    option(value="guangdong") 广东省
                  select(name="city")
                    option(value="meizhou") 梅州市
                  select(name="area")
                    option(value="meijiang") 梅江区
            tr
              td
                span 详细地址:
              td
                input(type="text" name="address" required)
            tr
              td 
                span 房屋图片:
              td
                input(type="file" name="imageFile" required)

        h2 提供的便利设施
        .house-offer
          table
              tr
                td
                  span 无线局域网
                  input(type="checkbox" name="WIFI")
                td
                  span 免费停车位
                  input(type="checkbox" name="park")
                td
                  span 电视机
                  input(type="checkbox" name="TV")
              tr
                td
                  span 空调
                  input(type="checkbox" name="aircon")
                td
                  span 洗衣机
                  input(type="checkbox" name="washer")
                td
                  span 吹风机
                  input(type="checkbox" name="blower")
              tr
                td
                  span 洗漱用品
                  input(type="checkbox" name="toiletries")
                td
                  span 暖气
                  input(type="checkbox" name="heating")
                td
                  span 衣架
                  input(type="checkbox" name="hanger")
        h2 租赁信息
        .house-rent
          span 租赁价格:
          input(type="text" name="price" required)
          span 元/月
      .pub-submit
        input(type="submit" value="发布" )
