* {
	margin: 0px;
  padding: 0px;
  font: 100% "Lucida Grande", Helvetica, Arial, sans-serif;
}

header{
  width: 100%;
  padding: 1px;
	border-bottom: solid 1px rgb(175, 175, 175);
}

header nav {
  text-align: right;
}

/* 导航栏按钮样式 */
header nav button{
  border: none;
	position: relative;
	padding: 30px;
	font-size: 0.875em;
	transition: 0.2s all ease;
  cursor: pointer;
  outline: none;
  background-color: white;
  color: rgb(72, 72, 72);
}

header nav button::before{
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  left: 100%;
  height: 100%;
  border-bottom: 2px solid #000;
  transition: 0.2s all linear;
}

header nav button:hover::before{
  left: 0;
  width: 100%;
}

header nav button:hover ~ button::before{
  left: 0;
}

/* 注册的整个div样式 */
header .reglog{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

/* 关闭图标 */
header .close{
  position: absolute;
  right: 35px;
  top: 15px;
  color: black;
  font-size: 2.5em;
  font-weight: bold;
}


header .close:hover, header.close:focus{
  color: red;
  cursor: pointer;
}

/* 弹出的注册框和登录框样式 */
header .model-content{
  background-color: #fefefe;
  margin:  5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%;
}

header .register,header .login{
  padding: 16px;
}

header input[type=text], header input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


/* 设置注册每个按钮的样式 */
header .reglog button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0px;
  border: none;
  cursor: pointer;
}

header .cancelbtn, header .signupbtn {
  float:left;
  width:50%;
}

header .clearfix::after{
  content: "";
  clear: both;
  display: table;
}

header button.cancelbtn{
  background-color: red;
}

.search-container{
  padding-top: 80px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

.search-container span.title{
  font-size: 4em;
  color:rgb(255, 79, 85);
  font-family:  Helvetica, Arial, sans-serif;
  font-weight: normal;
}


.search-container .search-content{
  margin-top: 40px;
  border:1px solid rgb(214, 214, 214);
  border-radius: 4px;
  box-shadow: rgba(156, 160, 171, 0.247059) 0px 5px 30px;

  
}

.search-container form.search{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.search-container .search-input{
  padding: 15px;
  flex: auto;
  box-sizing: border-box;
  display: flex;
  align-items:center;
  /* 使输入框垂直居中 */
}

.search-container .search-input_01{
  flex: auto;
}

.search-container .search-btn{
  padding: 15px;
  flex: none;
  width: auto;
}

.search-container input{
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  color: rgb(72, 72, 72);
  width: 100%;
  font-size: 1.2em;
  line-height: 1.3em;
}

.search-container button{
  padding: 12px 18px;
  color: white;
  font-size: 1.2em;
  font-weight: lighter;
  border:none;
  border-radius: 4px;
  background-color: rgb(255,90,95);
}



.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.source{
  padding: 10px 10px;
  flex: 0 0 18%;
}
.source img{
  width: 200px;
  height: 200px;
}

/* 筛选栏布局 */
.container .filter{
  text-align: left;
  padding: 16px;
  display: flex;
}

/* 筛选栏按钮样式 */
.container .filter button{
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid rgb(215, 219, 220);
  outline: none;
	padding: 6px 12px;
	font-size: 0.875em;
  cursor: pointer;
  color: rgb(72, 72, 72);
  transition: 0.3s;
}
.container .filter button:hover{
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(242, 242, 242);
}

/* 房源界面样式 */
.main{
  border-top: 1px solid rgb(175, 175, 175);
}

/* 房源下拉菜单测试 */
.menu{
  background-color: #fff;
  border: 1px solid rgb(72, 72, 72);
  top: 150px;
  left: 180px;
  position: absolute;
  display: none;
  padding: 24px;
}



@media screen and (max-width: 700px){
  header .cancelbtn, header .signupbtn {
    width: 100%;
  }

  header .model-content{
    width: 90%;
  }
}





